/***about-me***/

.cont-about{
  min-height: 100vh;
  padding: 3rem; 
}
.about-flex{
  display: flex;
  align-items: center;
}
.about-text h3{
  font-size: clamp(2.625rem, 1.295rem + 4.255vw, 5.125rem);
  font-family: var(--font-primary);
  color: var(--brown);
  margin: 0;
}
.about-text h4{
  font-size: clamp(1.25rem, 0.851rem + 1.277vw, 2rem);
  font-family: var(--font-primary);
  color: var(--light-brown);
  margin: 0;
}
.about-text p{
  font-size: clamp(1rem, 0.867rem + 0.426vw, 1.25rem);
  font-family: var(--font-secondary);
  color: var(--black);
}
.cta-3{
  background-color: var(--white) !important;
  padding: 10px 22px;
  border-radius: 40px;
  border: none;
  width: 230px;
  height: 70px;
  box-shadow: 0px 4px 45px 0px #0000002E;
  transition: ease-in .1s;
  text-decoration: none;
}

  /* Responsive */
@media (max-width: 575.99px) {
  .about-flex{
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.99px) {
  .about-flex{
    flex-direction: column;
  }
}
