/***appointment***/

.bg-appo{
  background-image: url("../assets/img/appointment.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
.appo-text h2{
  font-size: clamp(2.5rem, 1.702rem + 2.553vw, 4rem);
  font-family: var(--font-primary);
  color: var(--white);
  font-weight: 400;
}
.appo-text p{
  font-size: clamp(1rem, 0.867rem + 0.426vw, 1.25rem);
  font-family: var(--font-secondary);
  color: var(--white);
  font-weight: 500;
}