/***nav***/

.he-nav{
  height: 12vh !important;
  align-content: center;
  padding: 2rem;
}
.sticky-nav{
  background-color: var(--light-grey);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding: 0 5em;
}
.navbar-br{
  margin: 0;
}
.navbar-br a{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.1rem; /*24px*/
  color: var(--black);
  text-decoration: none;
}
.nav-ul{
  margin-bottom: 0;
  gap: 2rem;
}
.op a{
  transition: ease .5s;
  cursor: pointer;
}
.op a:hover{
  color: var(--light-brown);
}
.nav-ul li, .op-off{
  list-style-type: none;
}
.nav-ul li a{
  font-family: var(--font-secondary);
  color: var(--black);
  font-size: 1rem; /*16px*/
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

.offcanvas, .offcanvas-top{
  min-height: 60vh;
  z-index: 9999;
}
.nav-ul-off{
  margin-bottom: 0;
  height: 35vh;
  padding: 1.5rem 1rem;
}

.nav-ul-off li a{
  font-family: var(--font-secondary);
  color: var(--brown);
  font-size: 1.5rem; 
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-block, .icon-block{
  display: flex;
  align-items: center;
}
.flags{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flags_item_img{
  display: block;
  width: 26px;
  cursor: pointer;
  border-radius: 50px; 
}
.flags_item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50px; 
  background-color: transparent;
  transition: transform 0.3s ease;  
}
.flags_item:hover {
  transform: scale(1.1);
  background-color: rgba(0,0,0,0.05);
}

.flags_item.selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.15);
}

@media (width < 575.99px){
  .nav-block, .icon-block{
    display: none;
  }
  .sticky-nav{
    padding: 0 1.5em;
  }
  .he-nav{
    padding: 0.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.99px){
  .nav-block, .icon-block{
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1399.99px){
  .menu{
    display: none;
  }
}

@media (min-width: 1400px) {
  .menu{
    display: none;
  }
}