/***services***/

.cont-height-2 {
  min-height: 100vh;
  padding: 4rem 0rem;
}

.services-title {
  font-size: clamp(2rem, 0.936rem + 3.404vw, 4rem);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--brown);
}

.srv-flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cards-flex {
  width: 100%;
  max-width: 16.75rem;
  height: auto;
  transition: .3s;
}
.cards-flex:hover{
  transform: scale(1.05);
}

.cards-text-flex {
  text-align: center;
}

.cards-text h3 {
  font-size: clamp(1.125rem, 0.926rem + 0.638vw, 1.5rem);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--grey);
}

.cards-text p {
  font-size: 1rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--black);
}

.services-btn {
  font-size: 1.125rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--brown);
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.services-btn::after {
  content: '';
  width: 85%;
  height: 3.6px;
  background-color: var(--brown);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Responsive */

@media (max-width: 575.99px) {
  .srv-flex {
    flex-direction: column;
    align-items: center;
    gap: 3rem; 
  }
}

@media (min-width: 576px) and (max-width: 991.99px) {
  .srv-flex {
    flex-direction: column;
    align-items: center;
    gap: 3rem; 
  }
}
