/***services***/

.cont-height-2 {
  min-height: 130vh;
  padding: 4rem 0rem;
}

.services-title {
  font-size: clamp(2rem, 0.936rem + 3.404vw, 4rem);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--brown);
}

.srv-flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cards-flex {
  width: 100%;
  max-width: 16.75rem;
  height: auto;
  transition: .3s;
}


.cards-text-flex {
  text-align: center;
}

.cards-text h3 {
  font-size: clamp(1.125rem, 0.926rem + 0.638vw, 1.5rem);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--grey);
}

.cards-text p {
  font-size: 1rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--black);
}

.services-btn {
  font-size: 1.125rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--brown);
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Transición suave */
  border-bottom: 2px solid transparent; /* Línea invisible por defecto */
}
.services-btn:hover {
  color: var(--light-brown); /* Color del texto al hacer hover, cambia según tu paleta */
  border-bottom: 2px solid var(--light-brown); /* Línea visible al pasar el mouse */
}

/* Responsive */

@media (max-width: 575.99px) {
  .srv-flex {
    flex-direction: column;
    align-items: center;
    gap: 3rem; 
  }
}

@media (min-width: 576px) and (max-width: 991.99px) {
  .srv-flex {
    flex-direction: column;
    align-items: center;
    gap: 3rem; 
  }
}
