/***testimonials***/

.cont-height-6{
  background-image: url("../assets/img/Testimonials.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 100vh;
}
.test-text{
  font-size: clamp(1rem, 0.968rem + 1.702vw, 2.5rem);
  font-family: var(--font-primary);
  color: var(--brown);
  text-align: center;
}
.test-client{
  font-size: clamp(1rem, 0.535rem + 1.489vw, 1.175rem);
  font-family: var(--font-secondary);
  color:var(--black);
  margin: 0;
}
.circle-icon{
  background-color: var(--brown);
  border-radius: 50px;
  padding: 12px;
}
