@font-face {
  font-family: 'Tan_meringue';
  src:  url('/assets/fonts/tan_meringue-webfont.woff2') format('woff2'),
        url('/assets/fonts/tan_meringue-webfont.woff') format('woff'),
        url('/assets/fonts/TAN\ MERINGUE.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  /*colors*/
  --white: #FFFFFF; 
  --black: #000000;
  --grey: #1E1E1E; 
  --light-grey: #FFF9F6; 
  --light-brown: #CF8673;
  --brown: #78261A; 

  /*fonts*/
  --font-primary: 'Tan_meringue', sans-serif;
  --font-secondary:  "Montserrat", sans-serif;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

body{
  background-color: var(--light-grey);
}

.cont-height-1{
  height: 600px;
}

/*Btn arrow*/
.btn-arrow{
  position: fixed;
  bottom: 0px;
  right: 0px;
}
/************   nav    *************/
.sticky-nav{
  position: sticky;
  top: 0px;
  background-color: var(--light-grey);
  z-index: 1;
  padding: 0px 100px;
}

.he-nav{
  height: 10vh;
}
.navbar-br{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}
.nav-ul{
  margin-bottom: 0px;
}
.nav-ul li a{
  font-family: var(--font-secondary);
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}

/************   header   *************/
.header-text h1{
  font-size: 82px;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--brown);
}
.header-text p{
  font-size: 20px;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: black;
}
.cta{
  background-color: var(--white) !important;
  padding: 10px 22px;
  border-radius: 40px;
  border: none;
  width: 290px;
  height: 70px;
  box-shadow: 0px 4px 45px 0px #0000002E;
}
.cta span, .cta-2 span, .cta-3 span{
  color: var(--brown);
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 18px;
}
.cta-arrow{
  background-color: var(--light-brown);
  width:50px;
  height: 50px;
  border-radius: 34px;
}
.header-img{
  width: 100%;
  height: 300px;
}
.header-img img {
  max-width: 100%;
  height: auto;
}

/************   services    *************/
.cont-height-2 {
  height: 900px;
}
.col-services{
  height: 100vh;
  background-image: url("/assets/img/section-2-bg.png");
  background-repeat: no-repeat;
}
.services-title{
  font-family: var(--font-primary);
  font-size: 64px;
  font-weight: 400;
  color: var(--brown);
}
.cards-flex{
  width: 268px;
  height: 416px;
}
.cards-text-flex{
  text-align: center;
}
.cards-text h3{
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 400;
  color: var(--grey);
}
.cards-text p{
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
.services-btn{
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 600;
  color: var(--brown);
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.services-btn::after {
  content: '';
  width: 85%;
  height: 3.6px; 
  background-color: var(--brown);
  position: absolute;
  left: 0;
  bottom: 0;
}

/************   products    *************/
.cont-height-3{
  height: 1000px;
}
.prod-text h3{
  font-family: var(--font-primary);
  color: var(--brown);
  font-size: 40px;
  font-weight: 400;
}
.prod-text p{
  font-family: var(--font-secondary);
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
}
.bold{
  color: var(--brown)
}
.cta-2{
  background-color: var(--white) !important;
  padding: 10px 22px;
  border-radius: 40px;
  border: none;
  width: 200px;
  height: 70px;
  box-shadow: 0px 4px 45px 0px #0000002E;
}

/************   about-me    *************/
.cont-about{
  background-image: url("./assets/img/about-me-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
.about-text h3{
  font-family: var(--font-primary);
  font-size: 82px;
  color: var(--brown);
  margin: 0;
}
.about-text h4{
  font-family: var(--font-primary);
  font-size: 32px;
  color: var(--light-brown);
  margin: 0;
}
.about-text p{
  font-family: var(--font-secondary);
  font-size: 20px;
  color: var(--black);
}
.cta-3{
  background-color: var(--white) !important;
  padding: 10px 22px;
  border-radius: 40px;
  border: none;
  width: 215px;
  height: 70px;
  box-shadow: 0px 4px 45px 0px #0000002E;

}

/************   about    *************/
.cont-height-4{
  background-color: var(--light-brown);
  background-image: url("./assets/img/circles.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  height: 500px;
}
.text-p{
  width:860px;
  text-align: center;
}
.text-p p{
  font-family: var(--font-primary);
  font-size: 40px;
  color: var(--white);
  
}
.text-p span{
  color:var(--brown);
}

/************   quality    *************/
.cont-height-5{
  height: 1024px;
}
.frame-37{
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.qt-text h3{
  font-family: var(--font-primary);
  font-size: 40px;
  color: var(--brown);
}
.qt-text p, .qt-card-text p {
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--black);
  margin:0;
}
.qt-card-text h4{
  font-family: var(--font-primary);
  font-size: 20px;
  color: var(--brown);
}
.qt-card-text{
  width:360px;
  margin:0;
}
.qt-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 163px;
}
.qt-bloque-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 47px;
}

/************   testimonials    *************/

.cont-height-6{
  height: 560px;
  background-image: url("./assets/img/Testimonials.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

/************   appointment    *************/
.bg-appo{
  background-image: url("./assets/img/appointment.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
}
.appo-text h2{
  font-family: var(--font-primary);
  font-size: 64px;
  color: var(--white);
  font-weight: 400;
}
.appo-text p{
  font-family: var(--font-secondary);
  font-size: 20px;
  color: var(--white);
  font-weight: 500;
}

/************   footer    *************/
.foo-cont{
  height: 560px;
  background-color: var(--brown);
}
.logo-foo{
  font-family: var(--font-primary);
  font-size: 36px;
  color: var(--white);
  width: 300px;
  line-height: 1.4;
}
.bold-footer{
  font-family: var(--font-secondary);
  color: #A87A7A;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.light-footer a, .light-footer{
  font-family: var(--font-secondary);
  color: #DFD4D1;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
}
.rg-fo{
  border-top: 1px #A87A7A solid;
  height: 90px;
}
.rg-fo p{
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 20px;
  color: var(--white);
  font-weight: 400;
}
.wd-90{
  width: 90%;
}