/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    width: 100%;
}
.lista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    padding: 4em 2em;
    margin-top: 2rem;
}
.volver{
    padding: 20px 0px;
    margin: 0;
}
.volver a i {
    transition: transform .2s ease;
}
.volver a:hover i {
    transform: translateX(-4px);
}

.th-font{
    font-family: var(--font-secondary);
    color:black;
}
.carrito-producto {
    font-family: var(--font-secondary);
    color: var(--grey);
    padding: .5rem;
    border-radius: 1rem;
}


.carrito-producto-imagen {
    width: 3rem;
    border-radius: 1rem;
}
.carrito-producto small {
    font-size: .75rem;
}
.carrito-producto td{
    color: var(--grey);
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
    transition: color 0.3s ease;
}
.carrito-producto-eliminar:hover{
    color: brown;
}
.disabled {
    display: none !important;
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carrito-acciones-vaciar {
    border: solid 1px lightgrey;
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    color: var(--brown);
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.carrito-acciones-vaciar:hover{
    background-color: rgb(188, 188, 188);
    color: white;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--light-grey);
    padding: 1rem;
    color: var(--brown);
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: solid 1px lightgrey;
    gap: 1rem;
}
.carrito-acciones-total p{
    margin-bottom: 0; 
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--brown);
    padding: 1rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: transform 0.3s ease;
}
.carrito-acciones-comprar:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 430px){
    .table>:not(caption)>*>* {
        padding: 0.3rem .3rem;
    }
    .volver{
        font-size: 16px;
    }
    .carrito-acciones{
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 2rem;
    }
    .carrito-producto{
        font-size: 0.7rem;
    }
}
