/****services details**/

.bg-ser-det{
  background-image: url("../../assets/img/banner-img3.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
}
.gal-p {
  list-style-type: none;
}
.col-wi{
  color: white;
}
.img-banner img{
  width: 100%;
  min-height: 20px;
}
.serv-img img{
  width: 100%;
}
.ser-row{
  min-height: 100vh;
  padding: 3em;
}
.w-for{
  width: 55%;
}
.bt-sub{
  background-color: var(--brown);
  border: none;
  border: solid 1px var(--brown);
  color: white;
  font-weight: 500;
}
.bt-sub:hover{
  border: solid 1px var(--brown);
  color:var(--brown);
  transition: ease .3s;
}
/* Responsive */
@media (max-width: 575.99px) {
  .bg-ser-det{
    min-height: 50vh;
  }
  .ser-row{
    gap: 3em;
  }
}
  
@media (min-width: 576px) and (max-width: 991.99px) {
  .bg-ser-det{
    min-height: 50vh;
  }
  .ser-row{
    gap: 3em;
  }
}
